version: '2'
services:
    cli:
        build: .
        ports:
            - "1400:80"
        restart: always
        links:
          - "async"
        volumes:
          - .:/var/www/html
        command: ""php /var/www/html/public/index.php"
    async:
        build: .
        restart: always
        volumes:
          - .:/var/www/html
        command: "php /var/www/html/console/console.php async start"

